files/plain_text.json
files/raw_html.json
final_updated.json
cachedir
bin/zalando/JsonSplitter.class
bin/zalando/Jsplitter.class
bin/zalando/Jsplitter2.class
bin/zalando/classifier/Start.class
bin/zalando/classifier/main/Classifier.class
bin/zalando/classifier/main/Identificator.class
bin/zalando/classifier/main/MyBlockingQueue.class
bin/zalando/classifier/pipes/BPPipe.class
bin/zalando/classifier/pipes/BloggerPipe.class
bin/zalando/classifier/pipes/WordpressPipe.class
bin/zalando/classifier/sourcer/SourceInput.class
bin/zalando/classifier/sourcer/SourceOutput.class
